/*Role*/
.role-selection {
  text-align: center;
  margin: 50px auto;
}

.role-selection h2 {
  margin-bottom: 20px;
  color: #333;
}

.role-button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.role-button:hover {
  background-color: #4444ff;
}

.login-button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(7, 12, 44);
  border: none;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #4444ff;
}


/* Register*/
.auth-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px #010125;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.auth-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.auth-button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-button:hover {
  background-color: #007bff;
}

/*Login*/
.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
}

.login-form input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4444ff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-form button.login-button:hover {
  background-color: #007bff;
}

.login-form button.login-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
