.Header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #010125;
}

.HeaderLeft 
{
    display: flex;
    align-items: center;
    color: white;
}

.HeaderMiddle 
{
    display: flex;
    align-items: center;
    width: 45%;
    flex: 1;
    margin-right: 10px;
    margin-left: 20px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #282a36;
}

.SearchInput 
{
    flex: 1;
    border: none;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    color: #f8f8f2;
    background-color: transparent;
    outline: none;
}

.Header_Input 
{
    display: flex;
    align-items: center;
    width: 50%;
    color:white;
}
.Header_SearchBtn 
{
    width: 50px;
    color: white;
    cursor: pointer;
    position: relative;
    left: -10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header_Icons 
{
    margin-right: 12px;
    color: white !important;
    transition: color 0.3s;
}

.Header_Icons:hover
{
    color: white !important;
}

.HeaderRight 
{
    display: flex;
    align-items: center;
}

.Header_LoginBtn 
{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #4444ff;
    color: white;
    border: none;
    cursor: pointer;
}

.Header_LoginBtn:hover 
{
    background-color: #4444ff;
}
.Header_LogoutBtn 
{
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #4444ff;
    color: white;
    border: none;
    cursor: pointer;
}

.Header_LogoutBtn:hover 
{
    background-color: #4444ff;
}
