.sidebar {
    width: 190px;
    position: fixed;
    top: 60px;
    left: 0;
    height: 100vh;
    background-color: #010125; 
    padding: 10px;
    height: calc(100vh - 60px);
    z-index: 50;
    overflow-y: auto;
}

.sidebar__hr {
    height: 1px;
    border: 0;
    background-color: white; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.sidebar a {
    text-decoration: none; 
  }
