.sidebarrow {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 8px;
  margin: 8px 0;
  text-decoration: none; /* Added to remove underline from links */
}

.sidebarrow_icon {
  color: #ffffff !important;
  font-size: 24px;
  transition: color 0.3s;
}

.sidebarrow_title {
  flex: 1;
  margin-left: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff !important;
  transition: font-weight 0.3s, color 0.3s;
}

.sidebarrow:hover {
  background-color: #4444ff;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sidebarrow:hover .sidebarrow_icon {
  color: #f0f0f0;
}

.sidebarrow:hover .sidebarrow_title {
  color: #f0f0f0;
}

.sidebarrow.selected {
  background-color: #4444ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.sidebarrow.selected .sidebarrow_icon {
  color: #ffffff;
}

.sidebarrow.selected .sidebarrow_title {
  font-weight: bold;
  color: #ffffff;
}
